<!DOCTYPE html>
<html>

<head>
    <title>SmartCart</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>

<script src="{{ url_for('static', filename='js/validation.js') }}"></script>

<body>


    <!-- Navigation -->

    <nav>

        <h1 class="logo">
            SmartCart 🛒
        </h1>


        <ul>

            <li>
                <a href="{{ url_for('product.home') }}">
                    Home
                </a>
            </li>


            <li>
                <a href="{{ url_for('product.products') }}">
                    Products
                </a>
            </li>


            <li>
                <a href="{{ url_for('cart.view_cart') }}"> 
                    Cart
                </a>
            </li>

            <li>
                <a href="{{ url_for('order.my_orders')  }}">
                    My Orders
                </a>
            </li>

            {% if session.get("user_id") %}


            <li>
                Welcome, {{ session["fullname"] }}
            </li>


            <li>
                <a href="{{ url_for('auth.logout') }}">
                    Logout
                </a>
            </li>


            {% else %}


            <li>
                <a href="{{ url_for('auth.login') }}">
                    Login
                </a>
            </li>


            <li>
                <a href="{{ url_for('auth.register') }}">
                    Register
                </a>
            </li>


            {% endif %}


        </ul>


    </nav>


    <!-- Search Bar -->

    <form action="{{ url_for('product.search') }}">

        <input type="text" name="keyword" placeholder="Search Products">

        <button type="submit">
            Search
        </button>

    </form>


    <!-- Flash Messages -->

    {% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}

    <p>
        {{ message }}
    </p>

    {% endfor %}

    {% endif %}

    {% endwith %}


    <!-- Dynamic Content -->

    {% block content %}

    {% endblock %}


    <!-- Footer -->

    <footer>

        <p>
            © 2026 SmartCart. All Rights Reserved.
        </p>

    </footer>


</body>

</html>