<!DOCTYPE html>
<html>

<head>
    <title>SmartCart</title>

    <link rel="stylesheet" 
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


    <!-- Navigation -->

    <nav>

        <h1 class="logo">
            SmartCart 🛒
        </h1>


        <ul>

            <li>
                <a href="{{ url_for('home') }}">
                    Home
                </a>
            </li>


            <li>
                <a href="{{ url_for('products') }}">
                    Products
                </a>
            </li>


            <li>
                <a href="{{ url_for('cart') }}">
                    Cart
                </a>
            </li>


            {% if session.get("user_id") %}


            <li>
                Welcome, {{ session["fullname"] }}
            </li>


            <li>
                <a href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>


            {% else %}


            <li>
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            </li>


            <li>
                <a href="{{ url_for('register') }}">
                    Register
                </a>
            </li>


            {% endif %}


        </ul>


    </nav>


    <!-- Search Bar -->

    <form action="{{ url_for('search') }}">

        <input 
            type="text"
            name="keyword"
            placeholder="Search Products"
        >

        <button type="submit">
            Search
        </button>

    </form>


    <!-- Flash Messages -->

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <p>
                    {{ message }}
                </p>

            {% endfor %}

        {% endif %}

    {% endwith %}


    <!-- Dynamic Content -->

    {% block content %}

    {% endblock %}


    <!-- Footer -->

    <footer>

        <p>
            © 2026 SmartCart. All Rights Reserved.
        </p>

    </footer>


</body>

</html>