{% extends "base.html" %}

{% block content %}

<section class="cart-section">

    <h1>
        My Shopping Cart 🛒
    </h1>


    {% if cart_items %}

    {% for item in cart_items %}

    <div class="cart-card">

        <img src="{{ item.image_url }}" alt="{{ item.name }}">

        <div class="cart-info">

            <h2>
                {{ item.name }}
            </h2>


            <p>
                Price: ₹{{ item.price }}
            </p>


            <p>

                <a href="{{ url_for('cart.decrease', id=item.id) }}">
                    ➖
                </a>


                Quantity: {{ item.quantity }}


                <a href="{{ url_for('cart.increase', id=item.id) }}">
                    ➕
                </a>

            </p>


            <h3>
                Total: ₹{{ item.total }}
            </h3>


            <a href="{{ url_for('cart.remove', id=item.id) }}">
                <button>
                    Remove 🗑️
                </button>

            </a>


        </div>

    </div>

    {% endfor %}


    <h2>
        Grand Total: ₹{{ grand_total }}
    </h2>


    <a href="{{ url_for('order.checkout') }}">

        <button>
            Proceed To Checkout 💳
        </button>

    </a>


    {% else %}

    <h2>
        Your Cart Is Empty 😔
    </h2>

    {% endif %}


</section>

{% endblock %}