{% extends "base.html" %}

{% block content %}

<section class="all-products">

    <h1>
        Explore Our Products
    </h1>

    <div class="products-grid">

        {% for product in products %}

        <div class="product-card">

            <img 
                src="{{ product.image_url }}"
                alt="{{ product.name }}"
            >

            <h2>
                {{ product.name }}
            </h2>

            <p>
                {{ product.description }}
            </p>

            <h3>
                ₹{{ product.price }}
            </h3>

            <button>
                Add To Cart
            </button>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}