{% extends "base.html" %}

{% block content %}

<section class="all-products">

    <h1>
        Explore Our Products
    </h1>

    <div class="products-grid">

        {% for product in products %}

        <div class="product-card">

            <a href="{{ url_for('product.single_product', id=product.id) }}">

                <img 
                    src="{{ product.image_url }}" 
                    alt="{{ product.name }}"
                >

            </a>


            <h2>

                <a href="{{ url_for('product.single_product', id=product.id) }}">

                    {{ product.name }}

                </a>

            </h2>


            <p>

                {{ product.description }}

            </p>


            <h3>

                ₹{{ product.price }}

            </h3>


            <a href="{{ url_for('cart.add_to_cart', id=product.id) }}">

                <button>

                    Add To Cart 🛒

                </button>

            </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}