{% extends "base.html" %}

{% block content %}

<section class="all-products">

    <h1>
        Explore Our Products
    </h1>

    <div class="products-grid">


        <!-- Product 1 -->
        <div class="product-card">

            <img 
            src="https://via.placeholder.com/200"
            alt="Smart Watch">


            <h2>
                Smart Watch
            </h2>


            <p>
                Premium fitness tracking watch.
            </p>


            <h3>
                ₹2999
            </h3>


            <button>
                Add To Cart
            </button>

        </div>


        <!-- Product 2 -->
        <div class="product-card">

            <img 
            src="https://via.placeholder.com/200"
            alt="Earbuds">


            <h2>
                Wireless Earbuds
            </h2>


            <p>
                Crystal clear sound experience.
            </p>


            <h3>
                ₹1999
            </h3>


            <button>
                Add To Cart
            </button>

        </div>


        <!-- Product 3 -->
        <div class="product-card">

            <img 
            src="https://via.placeholder.com/200"
            alt="Keyboard">


            <h2>
                Gaming Keyboard
            </h2>


            <p>
                RGB mechanical gaming keyboard.
            </p>


            <h3>
                ₹3499
            </h3>


            <button>
                Add To Cart
            </button>

        </div>


    </div>

</section>

{% endblock %}